* {
	margin:0;
	padding:0;
}

body {
	font-family:Arial, Helvetica, Sans-Serif;
	font-size:14px;
	position: relativ;
	margin: 50px 30px 50px 30px;
	min-width: 800px;
	max-width: 1280px;
	min-height: 500px;
	max-height: 1080px;	
	background-color: #666;
}

body#table {
	background-image:url('../img/field_background.png');
}

div.left {
	position:relative;
	float:left;
}

div.right {
	position:relative;
	float:right;
}

div.clear {
	clear:both;
}

div.header div.route {
	width:100%;
	height:70px;
	background:url('../img/header_fill.png') repeat-x;
}

div.header div.route div.left {
	width:160px;
	height:70px;
	background-image:url('../img/header_left.png');
}

div.header div.route div.right {
	width:40px;
	height:70px;
	background-image:url('../img/header_right.png');
}

div.header div.login {
	padding:5px;
	background-color:#404448;
}

div.header div.login div.button {
	position:relative;
	float:right;
	padding:2px 10px 2px 10px;
	border-left:1px solid #FFF;
	color:#FFF;
}	

div.content {
	padding:10px;
	padding-top:40px;
	background-color:#FFF;
	border: 3px;
}

h1 {
	font-size:24px;
	color:#ef9300;
}

h2 {
	font-size:18px;
	color:#ef9300;
	padding: 15px 15px 0 15px;
}

div.content p {
	margin:20px 0 20px 0;
}

/*register.html*/

form {
	width:280px;
}

fieldset.group {
	padding:20px 0 20px 0;
	border:none;
}

fieldset fieldset {
	padding-left:20px;
	margin:5px 0 5px 0;
	border:none;
}

fieldset legend {
	font-size:20px;
	font-weight:bold;
}

fieldset input {
	position:relative;
	float:right;
}

fieldset input#register {
	float:none;
}

fieldset select {
	margin-left:32px;
}

/* table.html */

div#gamepad {
	background-image:url(../img/field_background.png);
	height: 700px;
}

div#track {
	float: left;
	height: 560px;
	padding-top: 15px;
	padding-left: 30px;
}

div.street {
	width: 123px;
	height: 80px;
	background:url(../img/empty_road.png);
}

div.oil_street {
	width: 123px;
	height: 80px;
	background:url(../img/oil_road.png);
}

div#start {
	width: 123px;
	height: 98px;
	background:url(../img/start_road.png);
}

div#finish {
	width: 123px;
	height: 98px;
	background:url(../img/finish_road.png);
}



div#info {
	width:350px;
	background-color:#404448;
	float: left;
	font-size: 16px;
}


ul {
	list-style-type: none;
}

ul.left_labels {
	float: left;
	color: #C60;
	padding: 15px;
}

ul.left_infos {
	color: #FFF;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}

div.dice {
	background-color:#333;
	width: 100px;
	float: left;
	margin: 15px 0px 0 15px;
	border: 2px solid #CC6600;
}

p#diceDescription {
	color: #FFF;
	padding: 5px 5px 5px 5px;
	text-align: center;
}

img#diceHimself {
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 5px;
	padding-left: 7px;
}


p.note {
	position: relative;
	padding-top: 5px;
	text-align: right;
}

div.carleft {
	float:left;
	padding: 10px 20px 0px 15px;
	visibility:hidden;
}

div.carright {
	padding-top: 10px;
	visibility: hidden;
}

